main{
    width: 80%;
    margin: auto;
}

h2{
    margin: 0;
}

.list-wrapper{
    width: 100%;
    background-color: white;
    border: solid 2px #848484;
    padding: 5px;
    box-sizing: border-box;
}

.list-wrapper ul{
    display: flex;
    list-style: none;
    padding: 5px;
}

.list-header{
    background-color: #e5e6e6;
}

.list-header li{
    color: #333;
}

.title{
    width: 60%;
}

.post-at{
    width: 40%;
}

.form-wrapper{
    width: 100%;
    background-color: white;
    border: solid 2px #848484;
    padding: 22px 38px;
    margin-bottom: 20px;
    box-sizing: border-box;
}

form{
    display: flex;
}

.search-for-title{
   width: 30%;
    margin-right: 10px;
    height: 29px;
    align-self: center;
    border: none;
    border-bottom: solid 1px #bbb;
}

.search-for-status{
    width: 20%;
    margin-right: 15px;
    height: 31px;
    align-self: center;
    border: none;
    border-bottom: solid 1px #bbb;
}

.search-submit{
    width: 10%;
    align-self: center;
    height: 35px;
    background-color: #f59e45;
    color: white;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

@media screen and (max-width: 640px) {
  main{
    width: 95%;
  }
  .form-wrapper{
      padding: 5px;
  }
  
  .search-for-title{
      width: 70%;
  }
  .search-submit{
      width: 30%
  }
  
}