body{
    margin-top: 60px;
    background-color: #d0d0d0;
}
.form-wrapper{
    display: flex;
}

form{
    background-color: white;
    padding: 7px;
}

.form{
    width: 50%;
    padding: 5px;
    padding-top: 0;
    padding-bottom: 0;
}

.title{
    width: 100%;
    margin-bottom: 5px;
}

.title input{
    width: 100%;
    line-height: 24px;
    box-sizing: border-box;
}

.datetime{
    margin-bottom: 7px;
    border: solid 1px #ddd;
    box-sizing: border-box;
    padding: 5px;
}

.datetime select{
    width: 40px;
    height: 22px;
}

.datetime select.year{
  width: 60px;
    
}

#hour{
    margin-left: 10px;
}

.template{
    display: none;
}

.instance{
    margin-top: 5px;
    position: relative;
}

.apply-box{
    height: 50px;
}

.text-input-wrap{
    height: 350px;
    overflow-y: scroll;
    box-sizing: border-box;
    border: solid 1px #ddd;
    padding: 5px;
}

.main-text{
}

.main-text textarea{
  width: 100%;
  box-sizing: border-box;
}


.options{
  display: flex;
  justify-content: space-between;
}

.remove-button{
    color: white;
    background-color: #f00;
    border-radius: 11px;
    line-height: 12px;
    padding: 1px 4px;
    display: inline-block;
    position: absolute;
    right: 10px;
    top: 6px;
    cursor: pointer;
    box-shadow: 2px 2px #9c9c9c;
}

.remove-button i{
    font-size: 14px;
}

.options-select select{
    margin-right: 11px;
    height: 23px;
    margin-bottom: 4px;
}

.actions{
    display: flex;
}

.actions .button {
    width: 118px;
    line-height: 24px;
}

.submit-action{
    justify-content: flex-end;
}

.add-button{
    justify-content: center;
}

.add-button .button i{
    margin-right: 2px;
}

#addParagraphBtn{
    background-color: white;
    color: #000;
}

@media screen and (max-width: 770px) {

    .form-wrapper{
        flex-wrap: wrap;
    }
    .form{
        padding: 5px;
        width: 98%;
        margin: auto;
        padding-bottom: 10px;
        margin-bottom: 10px;
        box-sizing: border-box;
        background-color: #fff;
    }
}