main{
    width: 80%;
    margin: auto;
}

.list-wrapper{
    width: 100%;
    background-color: white;
    border: solid 2px #848484;
    padding: 5px;
    box-sizing: border-box;
}

.list-wrapper ul{
    display: flex;
    list-style: none;
    padding: 5px;
}

.list-header{
    background-color: #e5e6e6;
}

.list-header li{
    color: #333;
}

.title{
    width: 35%;
}

.status{
    width: 13%;
}

.post-at{
    width: 18%;
}

.actions{
    width: 24%;
}

.form-wrapper{
    width: 100%;
    background-color: white;
    border: solid 2px #848484;
    padding: 22px 38px;
    margin-bottom: 20px;
    box-sizing: border-box;
}

form{
    display: flex;
}

.search-for-title{
   width: 30%;
    margin-right: 10px;
    height: 29px;
    align-self: center;
    border: none;
    border-bottom: solid 1px #bbb;
}

.search-for-status{
    width: 20%;
    margin-right: 15px;
    height: 31px;
    align-self: center;
    border: none;
    border-bottom: solid 1px #bbb;
}

.search-submit{
    width: 10%;
    align-self: center;
    height: 35px;
    background-color: #f59e45;
    color: white;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

.read-status{
    display: none;
    color: #00f;
    cursor: pointer;
}

.read-status.active{
    display: inline-block;
}

.read-status-modal-wrap{
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(200,200,200,0.6);
}

.read-status-modal-wrap.active{
    display: block;
}

.modal{
    position: relative;
    width: 500px;
    height: 350px;
    overflow-y: scroll;
    margin: auto;
    background-color: white;
    margin-top: 92px;
}

.house{
    padding: 5px;
    position: relative;
    padding-top: 15px;
}

.house-name{
    width: 100%;
    border-bottom: solid 1px #d2d2d2;
    margin-bottom: 0;
    padding: 7px;
    padding-right: 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.house-name i{
    align-self: center;
}

ul.read-status-list{
    display: none;
    border: solid 1px #bbb;
}

ul.read-status-list li{
    display: flex;
    padding-left: 10px;
    border-bottom: solid 1px #d2d2d2;
}

ul.read-status-list li.read{
    background-color: #def7d4;
}
ul.read-status-list li.yet{
    background-color: #f7d4d4;
}

ul.read-status-list li p{
    margin: 0;
}

.read-status-list .room-number{
    width: 20%;
}

.read-status-list .resident-name{
    width: 50%;
}

.read-status-list .resident-read-status{
    width: 30%;
}

.close-button{
    position: absolute;
    top: 5px;
    right: 15px;
    cursor: pointer;
}

.close-button i{
  color: #929292;
  font-size: 20px;
}

.close-button i:hover{
    color: #545252;
}
