<h1>Top#index</h1>
<p>Find me in app/views/top/index.html.erb</p>

<%= link_to "オーナーログアウト", destroy_owner_session_path, method: "delete" %>
<%= link_to "入居人ログアウト", destroy_resident_session_path, method: "delete" %>
