main{
    width: 80%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 80px;
}

h2{
    background-color: #f7f7f7;
    border-bottom: solid 1px #abe0ff;
    border-left: solid 5px #abe0ff;
    padding: 2px 12px;
    font-weight: 100;
    font-size: 22px;
}

.message-row{
    display: flex;
    list-style: none;
    padding: 5px 2px;
    margin: 0;
    border-bottom: solid 1px #cacaca;
}

.message-status{
    width: 10%;
    text-align: center;
}

.message-status span{
    border-radius: 4px;
    padding: 4px;
    font-size: 12px;
    color: #fff;
}

.message-status span.noread{
    background-color: #f00;
}

.message-status span.read{
    background-color: #0f0;
}

.message-status span.send{
    background-color: #00f;
}

.message-from{
    width: 40%;
}

.message-text{
    width: 40%;
}

.message-text img{
    max-height: 100px;
}

.message-wrote-date{
    width: 20%;
}

.new-contact{
    text-align: right;
}


.actions .button{
    padding: 7px 22px;
}

@media screen and (max-width: 770px) {
    main{
        width: 97%;
        margin: auto;
    }
    
    .message-row{
        flex-wrap: wrap;
    }

    .message-status{
        width: 20%;
        text-align: center;
    }
    .message-from{
        width:80%;
    }
    
    .message-text{
        width: 100%;
    }
    
    .message-wrote-date{
        width: 100%;
        text-align: right;
    }
}