<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>いつも<%= OwnerHelper::Application::SERVICE_NAME %>をご利用いただきありがとうございます。</p>
    <p><%= @owner.name %>様から新着メッセージが届きました</p>
    
    <hr>
    
    <% texts = @chat.text.split %>
    <% texts.each do |t| %>
      <p><%= t %></p>
    <% end %>
     
     <hr>

  　<%= link_to "メッセージを確認", edit_resident_contact_url(id: @chat.contact_id) %>
  </body>
</html>