<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p><%= @owner.name %>様が退去処理を行いました。</p>
    <p>これまで<%= OwnerHelper::Application::SERVICE_NAME %>をご利用いただきありがとうございました。</p>
    <p>アカウントは今後もご利用いただけます。</p>
    <p>またのご利用を心よりお待ちしております。</p>
  </body>
</html>