<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p><%= @post.owner.name %>様からお知らせが届きました。</p>
    <p>以下のリンクよりご確認ください</p>
    <%= link_to @post.title, resident_post_path(post.id) %>
  </body>
</html>