<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      <%= "#{@resident.room.house.owner.name}" %>様より<%= "#{@resident.room.house.name} #{@resident.room.number}" %>への入居リクエストが却下されました。 
    </p>
    
    <p>下記リンクよりログインし、再度ご契約内容をご確認の上、申請を行ってください。</p>
  　<%= link_to "ログイン", new_resident_session_url(email: @resident.email) %>
  </body>
</html>