<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p><%= @resident.name %>様、<%= OwnerHelper::Application::SERVICE_NAME %>へようこそ。</p>
    <p>
      <%= "#{@resident.room.house.name} #{@resident.room.number}" %>への入居リクエストが受諾されました。 
    </p>
    
    <p>下記リンクよりログインしてください。</p>
  　<%= link_to "ログイン", new_resident_session_url(email: @resident.email) %>
  </body>
</html>