main{
  padding: 15px;
  margin: auto;
  margin-top: 20px;
  width: 70%;
  background-color: #fff;
}

h2{
  margin: auto;
}

.inputs-wrap{
  display: flex;
  justify-content: center;
  padding: 12px;
}

.main-left{
  width: 50%;
}

.main-left p{
  width: 90%;
  margin: auto;
  margin-top: 20px;
}

.main-right{
  width: 50%;
}

form{
  padding: 30px 35px;
}

form input{
  width: 90%;
  line-height: 20px;
}

.field{
  margin-bottom: 15px;
}

.actions input{
  height: 35px;
  border-radius: 10px;
  background-color: #f39303;
}

.new_resident select{
    width: 90%;
    border: none;
    border-bottom: solid 1px #ccc;
    padding: 7px;
}

#error_explanation h2{
    display: none;
}

#error_explanation ul{
    list-style: none;
    padding: 0;
}

#error_explanation li{
    color: #f00;
}

@media screen and (max-width: 770px) {
  main{
    width: 100%;
    padding: 5px;
  }
  form{
    padding: 0;
  }
  .main-right, .main-left{
    width: 100%;
  }
  .inputs-wrap{
    flex-direction: column;
  }
  
}