.bill-list{
    display: flex;
    flex-wrap: wrap;
}

.bill-list-row{
    width: 50%;
    padding-right: 7px;
    padding-left: 5px;
    box-sizing: border-box;
}
.bill-list-header, .bill-list-item{
    display: flex;
    padding: 2px 12px;
}

.bill-list-header{
    background-color: black;
}

.bill-list-item{
    border-bottom: solid 1px #000;
    padding-top: 15px;
}

.bill-list-header li{
    color: white;
}

.bill-list-row li.year-month{
    width: 30%;
}
.bill-list-row li.amount{
    width: 50%;
}
.bill-list-row li.status{
    width: 20%;
}

.modal-wrap{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(150,150,150,0.5);
}

.modal-wrap span.modal-close-btn{
    position: absolute;
    top: 82px;
    right: 168px;
    background-color: #8e8e8e;
    color: white;
    padding: 7px;
    border-radius: 4px;
    cursor: pointer;
}
.modal-wrap span.modal-close-btn i{
    margin-right: 3px;
}

.modal{
    width: 80%;
    margin: auto;
    margin-top: 66px;
    background-color: white;
    padding: 7px;
    box-sizing: border-box;
    max-height: 450px;
    overflow-y: scroll;
}