
.inputs-wrap{
  display: flex;
  justify-content: center;
}

form{
    width: 70%;
}

form input{
  width: 90%;
  line-height: 20px;
}

.field{
  margin-bottom: 15px;
  display: flex;
}

.field label{
    width: 15%;
}

.field input{
    width: 85%;
}

.field.long-field{
    flex-direction: column;
    margin-top: 35px;
}

.field.long-field label{
    width: 100%;
    margin-bottom: 10px; 
}

.field.long-field input{
    width: 100%;
}

.field.long-field textarea{
    height: 100px;
}

.actions input{
  height: 35px;
  border-radius: 10px;
  background-color: #f39303;
}

.radio_buttons{
    display: flex;
}

.field input[type="radio"]{
    width: 20px;
}

.radio-label{
    margin-left: 30px;
}

@media screen and (max-width: 770px) {
    form{
        width: 100%;
    }
    
    .field{
        flex-direction: column;
        padding: 7px;
        box-sizing: border-box;
    }
    .field label{
        width: 50%;
    }
    
    .field input{
        width: 100%;
    }
    .radio_buttons{
        flex-direction: column;
    }
    
    .radio_buttons p{
        display: flex;
        margin: 0;
        margin-bottom: 5px;
    }
    
    .radio-label{
        order: 2;
        margin-left: 10px;
    }
    
}