<%= stylesheet_link_tag "owner/houses/index", :media => "all" %>

    <main>
      <div class="add-btn-wrapper">
        <%= link_to new_owner_house_path do %>
          <i class="fas fa-plus"></i>物件を追加
        <% end %>
      </div>
      <div class="houselist">
        <ul class="list-header list-row">
          <li class="name">物件名</li>
          <li class="regident-num">入居数</li>
          <li class="room-num">部屋数</li>
          <li class="actions"></li>
        </ul>
        <% @houses.each do |house| %>
        <ul class="list-row">
          <li class="name"><%= link_to house.name, owner_house_path(house.id) %></a></li>
          <li class="regident-num"><a href="#">20</a></li>
          <li class="room-num"><a href="#">24</a></li>
          <li class="actions">
            <a href="#">編集</a>
            <a href="#">削除</a>
          </li>
        </ul>
        <% end %>
      </div>
    </main>