<main>
<h2>特定商取引法に基づく表記</h2>
<ul class="tokutei">
  <li>
    <p class="key">販売業者</p>
    <p class="value">魚谷知司</p>
  </li>
  <li>
    <p class="key">代表責任者</p>
    <p class="value">魚谷知司</p>
  </li>
  <li>
    <p class="key">所在地</p>
    <p class="value">兵庫県神戸市灘区水道筋6丁目４－１ 703号</p>
  </li>
  <li>
    <p class="key">電話番号</p>
    <p class="value">090-5256-1720</p>
  </li>
  <li>
    <p class="key">電話受付時間</p>
    <p class="value">09:00~12:00</p>
  </li>
  <li>
    <p class="key">公開メールアドレス</p>
    <p class="value">sup.irent@gmail.com</p>
  </li>
  <li>
    <p class="key">ホームページURL</p>
    <p class="value">https://www.irent.life/</p>
  </li>
  <li>
    <p class="key">販売価格</p>
    <p class="value"><%= link_to "料金体系", "/#plan" %>をご覧ください</p>
  </li>
  <li>
    <p class="key">商品代金以外の必要料</p>
    <p class="value">月額料金以外に料金は発生いたしません。</p>
  </li>
  <li>
    <p class="key">お支払方法</p>
    <p class="value">クレジットカードのみ</p>
  </li>
  <li>
    <p class="key">返品・交換・キャンセル</p>
    <p class="value">サービスの性質上、返品・返金はお受けしておりません。</p>
  </li>
  <li>
    <p class="key">中途解約について</p>
    <p class="value">月途中での退居退居が発生した場合は日割り計算で料金を決定いたします。</p>
  </li>
</ul>
</main>

<style>
    .tokutei{
      width: 60%;
      margin: auto;
    }
    .tokutei li{
      display: flex;
      border-bottom: solid 1px #000;
    }
    .tokutei p{
      margin: 0;
      padding: 7px;
    }
    .tokutei .key{
      width: 30%;
      background-color: #d0d0d0;
    }
    .tokutei .value{
      width: 70%;
    }
    
</style>