main{
  padding: 0;
  margin: auto;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  width: 70%;
}

.main-right{
  width: 60%;
}

form{
  background-color: #fff;
  padding: 30px 35px;
}

form input{
  width: 100%;
  line-height: 20px;
}

.field{
  margin-bottom: 15px;
}

.actions input{
  height: 35px;
  border-radius: 10px;
  background-color: #f39303;
}

#error_explanation h2{
    display: none;
}

#error_explanation ul{
    list-style: none;
    padding: 0;
}

#error_explanation li{
    color: #f00;
}

@media screen and (max-width: 770px) {
    main{
      margin: auto;
      width: 100%;
      padding: 7px;
      box-sizing: border-box;
    }
    
    .main-right{
      width: 100%;
    }
}