body{
    margin: 0;
}

main{
    width: 100%;
    margin: 0;
    padding: 0;
}

.header{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.sub-header{
    display: flex;
    justify-content: space-between;
    padding: 0px 16px;
}

.header h1{
    text-align: left;
    margin-left: 20px;
    margin-top: 0;
    margin-bottom: 0;
}


.header h1 a{
    text-align: center;
    font-size: 36px;
    margin-top: 0;
    margin-bottom: 0;
    color: #636cde;
}

h2{
    margin: 0;
    margin-top: 10px;
}

.header p{
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    align-self: center;
    text-align: center;
}

.main-image-wrap{
    width: 95%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}
.main-image-wrap img{
    width: 100%;
    align-self: center;
}

.about-text{
    width: 100%;
}

.recommend-list li{
    margin-bottom: 3px;
}

.fa-caret-right{
    color: #7b7be2;
}

.functions{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.function{
    display: flex;
    width: 48%;
    margin: auto;
    margin-top: 0;
    align-self: flex-start;
}

.function i{
    width: 15%;
    font-size: 36px;
    text-align: center;
    margin: auto;
}

.function .function-detail{
    width: 85%;
    padding: 7px;
}

.function .function-detail ul{
    display: flex;
    flex-wrap: wrap;
}
.function .function-detail li{
    width: 50%;
}

.function .function-detail i{
    font-size: 12px;
        width: 13px;
}

.function-content{
    display: flex;
    flex-wrap: wrap;
    width: 95%;
    margin: auto;
    justify-content: space-between;
}

.function-content img, .function-content .text{
    width: 100%;
    align-self: center;
}

.function.point{
    flex-direction: column;
}

.function.point h3{
    width: 100%;
    color: #f00;
}

.function.point li i{
  font-size: 12px;
  width: 15px;
}
h3{
    border-bottom: solid 1px #ff7600;
    margin-top: 2px;
    margin-bottom: 2px;
}

h3 i{
    margin-right: 7px;
    color: #0095ff;
}

.two-row{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    width: 95%;
    margin: auto;
}


.two-row .row-item{
    width: 49%;
    margin: auto;
    margin-top: 0;
}

.small{
    font-size: 12px;
}

.large{
    text-align: center;
    width: 345px;
    background-color: #fff700;
    border-radius: 16px;
}

.large span{
    color: #ff5200;
    font-size: 58px;
    padding: 5px;
    padding-bottom: 3px;
    font-weight: 900;
}

@media screen and (max-width: 770px) {
    .function{
        width: 80%;
    }
    
    .two-row .row-item {
        width: 100%;
    }
}