<footer>
  <div class="footer-links">
    <ul>
      <li><%= link_to "プライバシーポリシー", privacy_path %></li>
      <li><%= link_to "特定商取引法に基づく表記", tokutei_path %></li>
    </ul>
  </div>
  <div class="copylight">
      Copyright © 2019 www.irent.life
  </div>
</footer>