body{
    background-color: #8e8e8e;
}

.preview{
    width: 50%;
    margin: auto;
    min-height: 450px;
    padding: 10px;
    background-color: #fff;
    font-family: serif;
}

.preview .left{
    text-align: left;
}

.preview .center{
    text-align: center;
}

.preview .right{
    text-align: right;
}

.preview .size1{
    font-size: 11px;
}
.preview .size2{
    font-size: 13px;
}
.preview .size3{
    font-size: 15px;
}
.preview .size4{
    font-size: 18px;
}
.preview .size5{
    font-size: 20px;
}

.paragraph{
    width: 100%;
    padding: 10px 55px;
    box-sizing: border-box;
}

@media screen and (max-width: 770px) {
    body{
        background-color: #9c9c9c;
    }
    .preview{
        width: 98%;
        min-height: 600px;
        box-sizing: border-box;
        padding: 2px;
    }
    .paragraph{
       padding: 10px 0px;
    }
}