main{
    width: 80%;
    margin: 80px auto;
}

.list{
    display: flex;
    list-style: none;
    padding: 5px;
    border-bottom: solid 1px #bbb;
    margin: 0;
}
.list-item{
  margin-top: 7px;
  padding-bottom: 9px;
}

.list-header{
    background-color: #000;
    margin-top: 15px;
}

.list-header li{
    color: #fff;
}

.resident-name{
    width: 20%;
}

.resident-phone-number{
    width: 15%;
}
.resident-house-name{
    width: 50%;
}
.resident-room-number{
    width: 15%;
}


.actions{
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-self: flex-start;
}

.actions .button {
    width: 100px;
    background-color: #8498f9;
    border-radius: 10px;
    line-height: 26px;
    color: white;
    margin-left: 10px;
    display: inline-block;
    text-decoration: none;
    text-align: center;
}

.actions .button.alert {
    background-color: #ff1515;
}

.form-wrap{
    padding: 20px;
    background-color: #fff;
    border-top: solid 2px #eee;
    width: 80%;
    margin: auto;
    border: solid 1px #ccc;
}

form{
    display: flex;
}

.fields{
    width: 50%;
}

.field{
    display: flex;
    width: 100%;
    margin-bottom: 10px;
    line-height: 30px;
}

.field label{
    width: 20%;
    text-align: center;
}

.field select, .field input{
    width: 80%;
    box-sizing: border-box;
}

.field label.checkbox-wrapper{
    width: 50%;
}

/* css checkbox01 */
.checkbox-input{
  display: none;
}
.checkbox-parts{
  padding-left: 20px;
  position:relative;
  margin-right: 20px;
}
.checkbox-parts::before{
  content: "";
  display: block;
  position: absolute;
  top: 3px;
  left: 90px;
  width: 15px;
  height: 15px;
  border: 1px solid #999;
  border-radius: 4px;
}
.checkbox-input:checked + .checkbox-parts{
  color: #009a9a;
}
.checkbox-input:checked + .checkbox-parts::after{
  content: "";
  display: block;
  position: absolute;
  top: -2px;
  left: 95px;
  width: 7px;
  height: 14px;
  transform: rotate(40deg);
  border-bottom: 3px solid #009a9a;
  border-right: 3px solid #009a9a;
}

@media screen and (max-width: 770px) {
    main{
        width: 97%;
        margin: auto;
    }
    
    .list.list-header{
        flex-wrap: wrap;
    }
    
    .list.list-item{
        flex-wrap: wrap;
    }

    .resident-name{
        width: 60%;
    }
    .resident-phone-number{
        width: 40%;
    }
    .resident-house-name{
        width: 60%;
    }
    .resident-room-number{
        width: 40%;
    }
    
    form{
        flex-wrap: wrap;
    }
    
    .fields{
        width: 100%;
    }
    
    .actions{
        width: 100%;
    }
}