main{
    width: 80%;
    margin: 80px auto;
}

.list{
    display: flex;
    list-style: none;
    padding: 3px;
}

.list-header{
    background-color: #000;
}

.list-header li{
    color: #fff;
}

.resident-name{
    width: 15%;
}

.resident-phone-number{
    width: 20%;
}
.resident-house-name{
    width: 50%;
}
.resident-room-number{
    width: 15%;
}
.actions{
    width: 30%;
}

.actions .button {
    width: 100px;
    background-color: #8498f9;
    border-radius: 10px;
    line-height: 36px;
    color: white;
    margin-left: 10px;
    display: inline-block;
    text-decoration: none;
    text-align: center;
}

.actions .button.alert {
    background-color: #ff1515;
}

.form-wrap{
    padding: 20px;
    background-color: #fff;
    border-top: solid 2px #eee;
    
}